.cartitems{
    margin: 50px 100px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartItems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 1.8fr 1fr 1fr 0.8fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}
.cartItems-format-main1{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 70px;
    padding: 10px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}
.cartItems-format{
    font-size: 15px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 52px;
    width: 40px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 47px;
    height: 30px;
    border: 2px solid #ebebeb;
    background: #fff;
}
.cartitems-name{
    font-size: 10px;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p {
    color: #555;
}
.cartitems-promobox{
    width: 335px;
    margin-top: 15px;
    padding-left: 20px;
    height: 48px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 200px;
    height: 40px;
}
.cartitems-promobox button {
    width: 130px;
    height: 48px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}
/* @media (max-width:1280px) {
    .cartitems{
        margin: 60px 50px;
    }
    .cartItems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
    .carticon-product-icon{
        height: 50px;
    }
    .cartitems-remove-icon{
        margin: auto;
    }
    .cartitems-quantity{
        width: 40px;
        height: 30px;
    }
    .cartitems-name{
        font-size: 8px;
    }
    .cartitems-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .cartitems-total{
        margin: 0;
    }
    .cartitems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cartitems-promobox{
        width: auto;
        max-width: 500px;
    }
    .cartitems-promobox input{
        width: 100%;
    }
    .cartitems-promobox button{
        width: 120px;
        margin-left: -125px;
    }
} */
 @media (max-width:1024px) {
    .cartitems-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .cartitems-total{
        margin: 0;
    }
    .cartitems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cartitems-promobox{
        width: auto;
        max-width: 500px;
    }
    .cartitems-promobox input{
        width: 100%;
    }
    .cartitems-promobox button{
        width: 120px;
        margin-left: -125px;
    }
 }
@media (max-width:800px) {
    .cartitems{
        margin: 40px 30px;
    }
    .cartItems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
    .cartitems-name{
        font-size: 8px;
    }
    .cartItems-format-main1{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
}
@media (max-width:500px) {
    .cartItems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartItems-format-main1{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartitems-name{
        font-size: 6px;
        width: 30px;
    }
    .cartItems-format{
        display: grid;
    }
}